div.FraseAFrase-Component {
    padding: 10px;
    width: 100%;
    max-width: 700px;
    margin: auto;
    
    h2 {
        color: #ff5ad1;
        font-size: 30px;
    }

    div.content-frases {
        list-style: none;
        li {
            margin: 10px;
            margin-bottom: 15px;
            h3 {
                margin: 5px;
                color: #ff5ad1;
                font-size: 22px;
            }
            p {
                font-size: 16px;
                margin-left: 16px;
                color: white;
            }
        }
    }
}

@media (max-width: 500px) {
    div.FraseAFrase-Component {
        padding: 10px;

        width: 100%;
        margin: auto;

        h2 {
            color: #ff5ad1;
        }

        div.content-frases {
            list-style: none;
            li {
                margin: 10px;
                margin-bottom: 15px;

                h3 {
                    margin: 5px;
                    color: #ff5ad1;
                    font-size: 16px;
                }
                p {
                    font-size: 15px;
                    margin-left: 15px;
                    color: white;
                }
            }
        }
    }
}
