$HeaderBgc: #FF006B;
$TitleHeaderBgc:  #E90062;
$BodyBgc: linear-gradient(180deg, #9A0041 0%, #760032 100%);
$sideMenu: linear-gradient(180deg, #CD0056 0%, #7E002E 98.96%);
$PlayerBgc: #C20052;
$HomeBgc: linear-gradient(180deg, #0F006A 0%, #8D003B 100%);